@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');

:root {
    --accent: #ffffff;
    --transitions: all 0.3s ease 0s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden; 
}

nav{
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: lato;
    border-bottom: 1px solid black;
    background-color: white;
    border-top-left-radius: 5px 0px 0px;
    
}

.logo{
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
    font-size: 15px;
    padding-bottom: 5px;
    cursor: pointer;
}

.nav-links{
    display: flex;
    padding-bottom: 5px;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 15px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: black;
    transition: all 0.3s ease;
}

.container{
    height: 80vh;
    margin: auto;
    width: 90%;
}

.jumbo{
    font-size: 80px;
    font-weight: 500;
    text-align: left;
    padding-left: 15%;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 20vh;
}
.jumbo2{
    font-size: 80px;
    font-weight: 500;
    text-align: left;
    padding-left: 15%;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 5px;
}
.jumbo3{
    font-size: 80px;
    font-weight: 500;
    text-align: left;
    padding-left: 15%;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 5px;
}

.circ{
    position: absolute;
    top: 50%;
    right: 25%;
    z-index: -1;
    height: 40%;
}

.middle{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jerome{
    height: 300px;
    padding-left: 20px; 
}

.texts{
    width: 50%;
    padding-left: 30px;
}


@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #cbcdd1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }

    .jumbo{
        font-size: 50px;
        align-items: center;
    }
    .jumbo2{
        font-size: 50px;
        align-items: center;
    }
    .jumbo3{
        font-size: 50px;
        align-items: center;
    }

    .circ{
        height: 20%;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px) ;

}

