{% extends 'MyApp/base.html'%}
{% block content %}

    <div class="container">

        <div class="confirmation_page">
            <h1>CONFIRM MESSAGE</h1>
        </div>

        <div>


            {% for data in data_list %}
            <form method="POST">
            
                {% csrf_token %}
                <p class="pending">
                    name: {{ data.name }}
                </p>

                <p class="pending">
                    message: {{ data.message }}
                </p>

                <input type="hidden" id="name" name="name" value="{{ data.name }}">
                <input type="hidden" id="message" name="message" value="{{ data.message }}">
                
                <button id="confirm" type="submit" class="btn btn-primary bg-dark shadow-none conf-button" data-toggle="button" name='submit' aria-pressed="false">
                    CONFIRM
                </button>
                
                
                <button href="http://story7-jerome.herokuapp.com/" id="cancel" type="button" class="btn btn-primary bg-dark shadow-none back-button" data-toggle="button" aria-pressed="false">
                    CANCEL
                </button>
                
            </form>
            
            {% endfor %}

        </div>

    </div>

{% endblock %}
