{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%static 'MyApp/style.css'%}">
    <title>story 7</title>
  </head>

  <body>
    <nav>
        <div class="logo">
            <h4>Jerome Zebua</h4>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">List</a>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="intro"> 
        <div class="container">
            <div class = "row">
                <div class="welcome col">
                    <h1 class="jumbo">Hello.</h1>
                    <h1 class="jumbo2">Let's Be</h1>
                    <h1 class="jumbo3">Friends</h1>
                </div>

            <div class="col-md-auto col-sm text-left">
                <div class=forms>
                <form method="POST" action="">
                {% csrf_token %}
                    
                <div class="form-group">


                <ul class = "navfont" style = "list-style-type:none; color: black">
                    <h1 class="text">What's Your Name?</h1>
                    <input type="text" id="name" class="form-control form-color" placeholder="name"
                        aria-label="Recipient's message" name="name" maxlength="100" autocomplete="off">

                    <!-- <li class="Status">{{form.name}}</li> -->
                        <h1 class="text">How you feelin'?</h1>
                        <!-- <li class="Status">{{form.message}}</li> -->
                        <input type="text" id="status" class="form-control form-color" placeholder="What's on your mind..."
                        aria-label="Recipient's message" name="message" maxlength="100" autocomplete="off">

                        <li class="submit">
                        <button id="submit" type="submit" class="btn btn-primary navfont bg-blue shadow-none submit" data-toggle="button" aria-pressed="false" value="submit">
                            Submit
                        </button>
                    </li>
                </ul>
                </form>
            </div>
            </div>
         </div>
        </div>
    </div>

    <br><br><br><br><br>
    
    <section>
        <div class="container col-md-auto">
            <h1 class = "headingg">List of Friends</h1> <br>
            <div class="row justify-content-center text-center">
               {% for i in data %}
               <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card" style="width: 14rem;text-align: center; margin-bottom: 1.2rem;height: 140px;">
                        <div class="card-body">
                        <h5 class="card-title">{{i.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Status</h6>
                        <p class="card-text">{{i.message}}</p>
                        </div>
                    </div>
                </div>
        {%endfor%} 
        </div>
      </div>
      </section>

    <!-- <img class="circ" src="images/Ellipse 19.svg" alt=""> -->
    
    <script src="{%static 'MyApp/app.js'%}"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>